html, body, h1, h2, h3, p, a { 
	color:#28D23D; 
	background-color:#424242;
}

.colorswitch {
	color:#28d23d;
	float: right; 
	width: 10em;
	border: 1px #28d23d solid;
	padding:0 1em 1em 1em; margin:0px 2.5em 0px 0px;
}

.colorswitch p {
	color: #000000;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #EEEC9F, #28D23D, #EEEC9F); 
    background-image:    -moz-linear-gradient(left, #EEEC9F, #28D23D, #EEEC9F); 
    background-image:     -ms-linear-gradient(left, #EEEC9F, #28D23D, #EEEC9F); 
    background-image:      -o-linear-gradient(left, #EEEC9F, #28D23D, #EEEC9F); 
}