html, body, p, a:link, a:visited { 
	color:#000000; 
	background-color:#FAF7E7;
	text-decoration: none;
}

h1, h2, h3, a:hover, a:active {
	color:#990000; 
	background-color:#FAF7E7;
	text-decoration: none;
}

.nameplate {
	padding-left: 2.5%;
}

#LVC {
	font-size: 7.5em;
	text-shadow: 1px 1px 5px #241717;
}

.inline {
	list-style-type: none;
	padding: 0px 0px 8px 0px;
}

.colorswitch {
	background-color: #FAF7EF;
	float: right; 
	width: 10em;
	border: 2px #990000 solid;
	padding:0 1em 1em 1em; margin:0px 2.5em 0px 0px;
}

.colorswitch p {
	background-color: #FAF7EF;
	border: none;
	padding-top: 1em;
	font-weight:bold;
}

.colorswitch li {
	font-style: italic;
}

#altColors {
	color: #28D23D;
	font-weight: bold;
}

#default {
	color: #990000;
	font-weight: bold;
}

/* Gradient color1 - color2 - color1 */
		
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #EEEC9F, #990000, #EEEC9F); 
    background-image:    -moz-linear-gradient(left, #EEEC9F, #990000, #EEEC9F); 
    background-image:     -ms-linear-gradient(left, #EEEC9F, #990000, #EEEC9F); 
    background-image:      -o-linear-gradient(left, #EEEC9F, #990000, #EEEC9F); 
}

.content {
	width: 75%;
	float: right;
	clear: right;
	margin: 3px 7px 0px 3px;
	padding: 0px 5px 0px 0px;
}

#emailPrompt {
	padding-left: 20%;
	font-size: 200%;
}

#footer {
	font-size: 0.75em;
	float: right;
}

#contentPending {
	padding-left: 33%;
	text-shadow: 1px 1px 5px #241717;
}

#photo {
	width: 20%;
	float: left;
	margin: 5px 5px 5px 10px;
	padding: 0px;
	border: 1px solid black;
	-moz-box-shadow:    0px 1px 15px 3px #241717;
	-webkit-box-shadow: 0px 1px 15px 3px #241717;
	box-shadow:         0px 1px 15px 3px #241717;
}

 /* mega menu list */
.nav-menu {
	display: block;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 15;
}

/* a top level navigation item in the mega menu */
.nav-item {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

/* first descendant link within a top level navigation item */
.nav-item > a {
	position: relative;
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0 0 -1px 0;
	/*border: 1px solid transparent;*/
}

/* focus/open states of first descendant link within a top level navigation item */
.nav-item > a:focus,
.nav-item > a.open {
	/*border: 1px solid #dedede;*/
}

/* open state of first descendant link within a top level navigation item */
.nav-item > a.open {
	background-color: #FAF7E7;
	border-bottom: none;
	z-index: 1;
}

/* sub-navigation panel */
.sub-nav {
	position: absolute;
	display: none;
	top: 2.6em;
	margin-top: -1px;
	padding: 0.5em 1em;
	/*border: 1px solid #dedede;*/
	background-color: #FAF7E7;
}

/* sub-navigation panel open state */
.sub-nav.open {
	display: block;
}

/* list of items within sub-navigation panel */
.sub-nav ul {
	display: inline-block;
	vertical-align: top;
	margin: 0 1em 0 0;
	padding: 0;
}

/* list item within sub-navigation panel */
.sub-nav li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
